.btn-group button {
    background-color: #043f7c; /* Green background */
    border: 1px solid lightskyblue; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    font-size: small;
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  .btn-group button:not(:first-child) {
    /* border-right: none; Prevent double borders */
    background-color: #ffffff;
    color: #000000;
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #53a1f0;
    color: #ffffff
  }