.nav-link {
    display: block;
    /* padding: .5rem 1rem; */
    padding: .5rem 5.1rem;
    color: rgb(255, 255, 255);
    /* background-color: aliceblue; */
    /* width: 250px; */
    /* text-align: center; */
}

a:hover {
    background-color: rgb(255, 255, 255);
    /* background-color: #ff5757; */
    /* border-top-left-radius: 15px;
    border-top-right-radius: 15px; */
}