label {
    /* Presentation */
    font-size: 48px
  }
  
  /* Required Styling */
  
  label input[type="checkbox"] {
    display: none;
  }
  
  .custom-checkbox {
    margin-left: 2em;
    position: relative;
    cursor: pointer;
  }
  
  .custom-checkbox .fa {
    color: gold;
    position: absolute;
    top: 0.4em;
    left: -1.25em;
    font-size: 0.75em;
  }
  
  .custom-checkbox .fa-heart-empty {
    color: gray;
  }
  
  .custom-checkbox .fa-heart {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  
  .custom-checkbox:hover .fa-heart{
    opacity: 0.5;
  }
  
  .custom-checkbox input[type="checkbox"]:checked ~ .fa-heart {
    opacity: 1;
  }